<script src="https://cdn.tailwindcss.com"></script>

{% extends 'base.html' %}
{% block title %} {{ post.title}} {% endblock %}

{% block content %}
<div class="container mx-auto px-4">
<h1 class="pb-3">{{post.title}}</h1>
<small> By: {{post.author.first_name}}  {{post.author.last_name}} 
  {% if user.is_authenticated %}
   <a class= "text-green-400" href = "{%url 'update' post.pk %}">(edit)</a>
  <a class= "text-red-400" href = "{%url 'delete' post.pk %}">(delete)</a></small>
  {% endif %}
<br>
<hr>
<br>
{{post.body}}
<br>
<br>
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" >
    <a href = "{%url 'home' %}" >BACK</a>
  </button>
</div>
{% endblock %}