{% extends 'base.html' %}
{% block title %} Edit Post {% endblock %}

{% block content %}
{% if user.is_authenticated %}

<br>

<form class = "px-4 mx-auto" method="POST">
    {% csrf_token %}

<div>Are you sure you want to delete {{post.title}}</div>
    <br>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Delete</button>

    {% else %}

<strong>NOT LOGED IN</strong> 
       
{% endif %}


{% endblock %}