<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>My Blog </title>
</head>
<body>
{% extends 'base.html' %}
<br>
{% block content %}
<div class="container mx-auto px-4">
<h1>Post</h1>

<br>
<ul class="list-disc">
{% for post in object_list %}

    <li ><a class="text-blue-600" href ="{%url 'article-detail' post.pk %}"> {{post.title}}</a> 
        - {{post.author}} 
        {% if user.is_authenticated %}
        - <a class= "text-green-400" href = "{%url 'update' post.pk %}">(edit)</a>
        <a class= "text-red-400" href = "{%url 'delete' post.pk %}">(delete)</a>
        {% endif %}
        <br>
        {{post.body}}
    </li>
    <br>

{% endfor %}
</ul>
</div>
{% endblock %}
</body>
</html>