    {% extends 'base.html' %}
    {% block title %} Edit Post {% endblock %}

    {% block content %}
{% if user.is_authenticated %}
    <h1>UPDATE POST</h1>
    <br>
    <table>
    <form class = "px-4 mx-auto" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
    </table>

        <br>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">UPDATE</button>

{% else %}

<strong>NOT LOGED IN</strong> 
       
{% endif %}

    {% endblock %}


